body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background-color: darkblue;
}

.ham-btn {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    gap: 0.5rem;
    cursor: pointer;
    margin: 1rem;
}

.line-1, .line-2, .line-3 {
    height: 0.5rem;
    width: 4rem;
    border: 2px solid black;
    background-color: white;
}

.menu {
    display: none;
    width: 5rem;
    height: 7rem;
    padding: 4rem;
    background-color: rgba(173, 216, 230, 0.5)
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
    color: white;
}