* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    margin: 0;
}

.title {
    margin: 4rem;
}

.boxes ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 5rem;
}

.boxes li {
    display: flex;
    list-style: none;
    height: 4.5rem;
    width: 50rem;
    background-color: white;
    border: 1px solid brown;
    justify-content: space-around;
    align-items: center;
}

.text {
    width: 20rem;
}

.plus-btn {
    cursor: pointer;
    scale: 200%;
}
