* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

.boxes ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 5rem;
}

.boxes li {
    display: flex;
    list-style: none;
    height: 4.5rem;
    width: 50rem;
    background-color: white;
    border: 1px solid brown;
    justify-content: center;
    align-items: center;
}
